# IntelliJ
.idea/

# MacOSX
.DS_Store

# Chrome-webdriver for selenium
chromedriver

# stash
database/stash

# pyCache
__pycache__

# pytest
.pytest_cache

# iPython
.ipynb_checkpoints

# downloaded pdf
dataset/measure/download

# pre-trained
train/GloVec

# model_code
train/dataset
train/get_data.sh
train/model_code.py

# dataset/label
dataset/label/~$*.xlsx
