# IntelliJ
.idea/

# MacOSX
.DS_Store

# Chrome-webdriver for selenium
chromedriver

# stash
database/stash

# pyCache
__pycache__

# pytest
.pytest_cache

# iPython
.ipynb_checkpoints

# downloaded pdf
data/factual/measure/download

# pre-trained
train/GloVec
train/Word2Vec

# model_code
train/dataset
train/get_data.sh
train/model_code.py

# cache.xlsx
~$*.xlsx

# logs
models/citability/FastText/logs

# checkpoints
models/citability/FastText/runs
models/citability/TextANN/runs

# TF Graph
models/citability/FastText/graph
models/citability/TextANN/graph
*.pb

# TF logs
*.log