# IntelliJ
.idea/

# MacOSX
.DS_Store

# Chrome-webdriver for selenium
chromedriver

# stash
database/stash

# pyCache
__pycache__

# pytest
.pytest_cache

# iPython
.ipynb_checkpoints

# downloaded pdf
data/measure/download

# pre-trained
train/GloVec

# model_code
train/dataset
train/get_data.sh
train/model_code.py

# dataset/label
data/label/~$*.xlsx
data/label/GATT_III/~$legality_GATT_III.xlsx
